<nav class="navbar navbar-expand-lg bg-body-tertiary" style="padding-left: 30px; padding-right: 30px;">
    <div class="container-fluid">
      <a class="navbar-brand"  routerLink="/" >BotaniCARE</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" routerLink="/gardeners" aria-current="page"  >Gardener</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" routerLink="/plants"  aria-current="page"  >Plant</a>
          </li>

        </ul>
      <span class="me-2">Mustafa Kösem</span>
      <button (click)="signOut()"  class="btn btn-outline-danger">
        <i class='bx bx-power-off'></i>
      </button>
      </div>
    </div>
  </nav>